<!-- Footer at bottom -->
<footer class="row section text-center">
  <p><small><em>&#169; <a href="https://amdelamar.com">AustinDelamar</a> - 2014-2019</em></small></p>
  <a class="button button-primary float-right margin-right-large" title="Back to top" href="javascript:gotoTop()">Back to Top</a>
  <!-- Lazy load JavaScript, just for sidebar popup -->
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/osseous.min.js"></script>
  <!-- Highlightjs for color coding -->
  <script src="{{ .Site.BaseURL }}highlightjs/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</footer>
</body>
</html>
