<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {{ if isset .Site.Params "author" }}<meta name="author" content="{{ .Site.Params.author }}">{{ end }}
    {{ if isset .Site.Params "keywords" }}<meta name="keywords" content="{{ .Site.Params.keywords }}">{{ end }}
    {{ if isset .Site.Params "description" }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
    <meta name="robots" content="all">
    <link rel="canonical" href="{{ .Permalink }}">

    <!-- Open Graph data -->
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{{ .Title }}">
    {{ if and (isset .Params "thumbnail") (ne .Params.thumbnail "") }}<meta property="og:image" content="{{ .Params.thumbnail }}">{{ else }}<meta property="og:image" content="{{ .Site.Params.thumbnail }}">{{ end }}
    {{ if isset .Params "description" }}<meta property="og:description" content="{{ .Params.description }}">{{ else }}{{ end }}
    {{ if isset .Params "author" }}<meta property="article:author" content="{{ .Params.Author }}"/>{{ else }}{{ end }}

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ .Permalink }}">
    {{ if isset .Params "author" }}<meta name="twitter:creator" content="@{{ .Params.twitterUsername }}">{{ else }}{{ end }}
    <meta name="twitter:title" content="{{ .Title }}">
    {{ if isset .Params "description" }}<meta name="twitter:description" content="{{ .Params.description }}">{{ else }}{{ end }}
    {{ if and (isset .Params "thumbnail") (ne .Params.thumbnail "") }}<meta name="twitter:image" content="{{ .Params.thumbnail }}">{{ else }}<meta name="twitter:image" content="{{ .Site.Params.thumbnail }}">{{ end }}

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ .Title }}">
    {{ if isset .Params "description" }}<meta itemprop="description" content="{{ .Params.description }}">{{ else }}{{ end }}
    {{ if and (isset .Params "thumbnail") (ne .Params.thumbnail "") }}<meta itemprop="image" content="{{ .Params.thumbnail }}">{{ else }}<meta itemprop="image" content="{{ .Site.Params.thumbnail }}">{{ end }}

    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}/index.xml" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/osseous.min.css">
    <link rel="stylesheet" href="https://amdelamar.com/css/style.min.css">
    <style>
      pre > code { background: none; }
    </style>
    <title>{{ .Title }} - {{ .Site.Title }}</title>
</head>
<body>
