<!-- Landing logo, title, and subtitle. -->
<header class="row padding-top-large margin-top-large">
    <div class="container text-center">
        <div class="twelve columns">
            <img class="round" src="../assets/img/skull-382x382.png" width="200" height="200" alt="Banner" title="Photo Credit: Google Images of all places." />
        </div>
        <div class="twelve columns">
            <h1 class="text-uppercase text-thinner text-wide">Osseous</h1>
            <p>A bony CSS framework without guts.&nbsp;<sup class="text-thin">v3.0.0</sup></p>
            <p>
              <a class="button button-primary" href="#download"><span class="icon-embed text-medium margin-right"></span>Download</a>
              <a class="button button-secondary" href="https://github.com/amdelamar/osseous/"><span class="icon-github text-medium margin-right"></span>View on GitHub</a>
              <a class="button" href="https://github.com/amdelamar/osseous/issues"><span class="icon-bug text-medium margin-right"></span>Report Issue</a>
            </p>
        </div>
    </div>
</header>
