<input type="checkbox" id="toggleSidebar" style="display: none;">
<nav id="sidebar" class="border-right shadow-right" aria-label="page navigation">
    <div class="nav-item-close">
      <label class="clickable" for="toggleSidebar">
        <span class="float-right" title="Close Menu" aria-label="Close">
            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M2.757 14.657L8 9.414l5.243 5.243 1.414-1.414L9.414 8l5.243-5.243-1.414-1.414L8 6.586 2.757 1.343 1.343 2.757 6.586 8l-5.243 5.243z" fill-rule="evenodd"></path></svg>
        </span>
      </label>
    </div>
    <div class="nav-list text-center">
        <a class="nav-item" href="https://amdelamar.com">
          <img class="round shade margin-right" style="vertical-align: middle" src="https://amdelamar.com/img/amdelamar.jpeg" width="24" height="24" title="A picture of me" />
          Austin Delamar</a>
        <a class="nav-item" href="{{ $.Site.BaseURL }}">Blog</a>
        <a class="nav-item" href="https://amdelamar.com/#about">About</a>
        <a class="nav-item" href="https://amdelamar.com/#contact">Contact</a>
    </div>
    <div class="padding-top-large full-width text-center">
        <p class="text-small"><em>© <a href="https://amdelamar.com">AustinDelamar</a> - 2017-2018</em></p>
    </div>
</nav>
