<!-- Sidebar -->
<nav id="sidebarMenu" class="sidebar border-right shadow-right">
    <div class="nav-item-close">
        <a class="float-right" title="Close Menu" href="javascript:closeSidebar()" aria-label="Close">
            <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path d="M2.757 14.657L8 9.414l5.243 5.243 1.414-1.414L9.414 8l5.243-5.243-1.414-1.414L8 6.586 2.757 1.343 1.343 2.757 6.586 8l-5.243 5.243z" fill-rule="evenodd"></path></svg>
        </a>
    </div>
    <div class="nav-list text-center" onclick="closeSidebar()">
        <a class="nav-item" href="{{ $.Site.BaseURL }}category/">Category</a>
        <a class="nav-item" href="{{ $.Site.BaseURL }}tags/">Tags</a>
        <a class="nav-item" href="https://amdelamar.com">About</a>
    </div>
</nav>
