{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}
{{ partial "navbar.html" . }}
<article id="list">
  <div class="row section margin-top-large">
    <div class="container">
      <h2>{{ .Title }}</h2>
      <ul class="text-medium">
        {{ $taxonomy := .Site.Taxonomies.tags }}
        {{ range $key, $value := $taxonomy }}
        <li><a class="text-secondary" href="{{ $.Site.BaseURL }}/tags/{{ $key | urlize }}">{{ $key }}</a></li>
          <ul>
          {{ range $value.Pages }}
            <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
          {{ end }}
          </ul>
        {{ end }}
      </ul>
    </div>
  </div>
</article>
{{ partial "footer.html" . }}
