{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}
{{ partial "navbar.html" . }}
<article id="tags">
  <div class="row section margin-top-large">
    <div class="container">
      <h2>{{ .Title }}</h2>
      {{ $taxonomy := .Site.Taxonomies.tags }}
      {{ range $key, $value := $taxonomy }}
      <a class="text-bold" href="{{ $.Site.BaseURL }}/tags/{{ $key | urlize }}">{{ $key }}</a>
        <ul>
        {{ range $value.Pages }}
          <li><a href="{{ .Permalink}}" class="text-secondary">{{ .LinkTitle }}</a></li>
        {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
</article>
{{ partial "footer.html" . }}
