{{ partial "head.html" . }}
{{ partial "sidebar.html" . }}
{{ partial "navbar.html" . }}
<article id="tag">
  <div class="row section margin-top-large">
    <div class="container">
      <h2>Tag: {{ .Title | lower }}</h2>
      <ul>
        {{ range .Data.Pages.ByDate.Reverse }}
          <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a></li>
        {{ end }}
      </ul>
      <a class="button button-primary" href="{{ .Site.BaseURL }}/tags/">All Tags</a>
    </div>
  </div>
</article>
{{ partial "footer.html" . }}
